.cabinetbody {
    font-family: 'Arial';
    font-size: 12px;
    padding: 0px;
    margin: 0px;}

    .chronoline {
        position: absolute;
        top: 250px;
        left: 50px;
        width: 600px;
        height: 250px;
        float: left;
        background-color: #ffffff;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    }
    .chronoline .panel {
        width: 590px;
        height: 5px;
        padding: 5px;

    }
    .chronoline .canvas {
        padding: 10px;
        overflow: auto;
        width: 580px;
        height: 220px;
    }

    #popup {
        position: absolute;
        top: 100px;
        left: 100px;
        width: 500px;
        height: 100px;
        display: none;
    }

    .cabinetbody .center {
        margin: 0px auto;}

    .cabinetbody #login {
        margin-top: 50px;
        width: 300px;
        padding: 10px;
        border: 4px solid #4d7496;}

        .cabinetbody #login h2 {
            text-align: center;}

        .cabinetbody #login input {
            padding: 2px;
            width: 100%;}

    .left {
        float: left;}

    .right {
        float: right;}

    .panel {
        padding: 15px;}

    .pagination {
        float: left;
        clear: both;
        margin-top: 10px;
        font-weight: bold;}

        .pagination a, .pagination span {
            padding: 2px 4px;
            margin: 0px 2px;
            display: block;
            float: left;
            color: #4d7496;}

        .pagination a:hover,
        .pagination .current {
            color: #ffffff;
            background-color: #4d7496;}

    #header {
        position: fixed;
        width: 100%;
        height: 40px;
        background-color: #4d7496;
        color: #ffffff;
        text-shadow: 0 1px 0 #000;
        border-bottom: 4px solid #2a4053;}

        a {
            text-decoration: none;
            color: inherit;}

        .logo {
            font-weight: bold;
            padding: 10px;
            font-size: 20px;}

    #sidebar {
        position: fixed;
        right: 0px;
        top: 44px;
        width: 250px;
        background-color: #202025;
        color: #fff;
        height: 100%;
        font-size: 12px;
        overflow: auto;}

        #sidebar .container {
            float: left;
            width: 100%;
            margin-bottom: 40px;
        }

        #sidebar menu {
            margin: 0px;
            padding: 0px;}

            #sidebar menu {
                float: left;}

                #sidebar menu menu {
                    margin-left: 20px;}

                #sidebar menu li {
                    display: block;
                    float: left;
                    margin: 0px;
                    list-style-type: none;}

                    #sidebar menu li a, #sidebar menu li div {
                        display: block;
                        width: 230px;
                        height: 15px;
                        padding: 5px 10px;
                        margin-bottom: 4px;
                        border-left: 2px solid #2a4053;}

                    #sidebar menu li a:hover, #sidebar menu li div {
                        background-color: #2a4053;}

                    #sidebar menu li a.add {
                        background-color: #5a6053;}

                    #sidebar menu li a.add:hover {
                        background-color: #2a4053;}

    #mainblock {
        padding: 50px 0px 10px 10px;
        margin-right: 260px;
        overflow: auto;
        height: calc(100%-20px)}

        .block {
            min-width: 98%;
            float: left;
            padding: 5px;
            margin-bottom: 20px;}

            .block .header {
                padding: 5px;
                color: #ffffff;
                text-shadow: 1px 1px 0 #000;
                background-color: #2a4053;}

            .block .field_block {
                padding: 5px;
                float: left;
                min-width: 100%;
                clear: both;}

            .block .submit_row {
                padding: 10px 5px;
                margin: 5px 0px;
                float: left;
                min-width: 510px;
                clear: both;}

            .question input {
                width: 500px;
            }



            .block .field_wrapper {
                padding: 10px 0px;
                margin: 5px 0px;
                background-color: #eee;
                float: left;
                min-width: 100%;
                clear: both;}

                .block .field_wrapper:hover {
                    background-color: #ddd;}

                .block .field_wrapper .field_label {
                    width: 150px;
                    padding-left: 10px;
                    float: left;
                    font-weight: bold;
                }

                .block .field_wrapper .field_value {
                    min-width: 510px;
                    float: left;
                    margin-left: 10px;
                }

                    .block .field_wrapper .field_value input,
                    .block .field_wrapper .field_value select {
                        border-radius: 4px;
                        padding: 5px;
                        border: 1px solid #888;
                    }

            .field_wrapper.error {
                background-color: #f88 !important;
            }

            .errorlist {
                list-style-type: none;
                color: #00f;
                float: right;
                font-weight: bold;
                margin: 0px 0px 10px 0px;
                text-decoration: underline;
                padding: 0px;
            }

            .block .results {
                width: 100%;
                border-collapse: collapse;}

                .block .results a.item_link {
                    text-decoration: underline;
                    font-weight: bold;
                    color: #2a4053;}

                .block .results tr:hover a.item_link{
                    color: #fff;}

                .block .results tr:hover {
                    background-color: #4d7496; 
                    color: #fff;}
                
                .block .results tr th {
                    background: #4d7496;
                    color: #fff;
                    font-weight: normal;
                    padding: 5px 10px;
                    text-align: left;}

                .block .results tr td {
                    margin: 0px;
                    padding: 5px 10px;
                    border-left: none;
                    border-right: none;
                    border-bottom: 1px solid #2a4053;}

    .left_column {
        float: left;
        margin-right: 300px;
    }

    .viewlink {
        padding-left: 12px;
        background: url(../img/icon_searchlink.gif) 0 .2em no-repeat;
    }

    .block a.button {
        display: block;
        text-decoration: none;
        background-color: #259;
        color: #fff;
        padding: 5px 10px;
        margin-right: 5px;
        margin-bottom: 5px;
        float: left;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
        box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
        border-radius: 5px;
    }

    div.button {
        cursor: pointer;
        float: left;
    }

    .adding {
        clear: both;
        margin: 10px;
    }

    div.navigator {
        clear: both;
        float: left;
    }

    .submit {
        float: left;
        width: 100%;
    }

    .delete {
        float: right;
        padding: 5px;
        cursor: pointer;
    }

    .pagetitle {
        float: left;
        clear: both;
        font-weight: bold;
    }

    .question, .waycontainer {
        float: left;
        clear: both;
    }

    #webcall-module {
        width: 350px;
        height: 500px;
        position: fixed;
        right: 20px;
        top: 60px;}

        #webcall-module h2 {
            background: #eee url(../img/nav-bg.gif) bottom left repeat-x;
            color: #666;}

    .quizpage {
        float: left;
        width: 500px;
        margin-bottom: 20px;
        border: 1px solid #9C9C9C;
        padding: 5px;
        border-radius: 4px;
    }

    .quizpage.current {
        background-color: #CAF3CE;
    }

    .quizpage.vissible {
        display: block;
    }