.infoblock {
    float: left;
}

#header {
    height: 20px;
    border-bottom: 2px solid #2a4053;
}
.panel {
    padding: 5px;
    font-size: 10px;
}
.logo {
    padding: 4px;
    font-size: 12px;
}

#mainblock {
    padding-top: 22px;
}

#phone {
    position: fixed;
    right: 0px;
    top: 22px;
    width: 250px;
    background-color: #202025;
    color: #fff;
    height: 100%;
    font-size: 12px;}

    #phone .panel {
    }

    .green {
        background-color: #594 !important;
        color: #fff;
    }

    .button.green:hover {
        background-color: #463 !important;
        color: #fff;
    }

    #emails {
        float: left;
        width: 200px;
    }

    #status {
        width: 100%;
    }

    #emails ul {
        margin: 0px 0px 20px 0px;
        padding: 0px;
    }

    #emails ul li {
        list-style-type: none;
    }

    #dials {
        float: left;
        width: 200px;
    }

    .input {
        border-radius: 5px;
        padding: 5px 10px;
        margin-right: 5px;
        margin-bottom: 5px;
    }

    .button {
        display: block;
        text-decoration: none;
        background-color: #459;
        color: #fff;
        padding: 5px 10px;
        margin-right: 5px;
        margin-bottom: 5px;
        float: left;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
        box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
        border-radius: 5px;
    }