<!DOCTYPE HTML>
<html>
    <head>
        <title>
            {% block title %}{% endblock %}
        </title>
        {% block links %}{% endblock %}
    </head>
    <body class="cabinetbody">
        {% block main %}{% endblock %}
    </body>
</html>


