{% extends "cabinet/index.jinja" %}
{% block title %}Личный кабинет{% endblock %}
{% block sidebar %}
<menu>
<li><a href="/cabinet/">cabinet</a></li>
</menu>
<div id="auth">
    {% if user.has_usable_password %}
    <a href="/cabinet/password_change/">Изменить пароль</a> /
    {% endif %}
    <a href="/cabinet/logout/">Выйти</a>
</div>
{% endblock %}
{% block mainbar %}
module
{% endblock %}