{% extends "cabinet/form.jinja" %}
{% from 'cabinet/widgets/helpers.jinja' import render_field %}
{% from 'cabinet/widgets/helpers.jinja' import render_form %}

{% block mainblock %}
<div class="block projects">
    {{ render_form('title', form) }}
</div>
{% endblock %}