{% extends "cabinet/index.jinja" %}
{% block title %}{{ title }}{% endblock %}

{% block sidebar %}
    {{ sidebar()|safe }}
{% endblock %}

{% block links %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="/static/cabinet/css/jquery-ui.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/cabinet/css/forms.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/jsonwidget/quizwidget.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/jsonwidget/jsonlistwidget.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/jsonwidget/jsondetailslistwidget.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/magnific-popup.css"/>

    <script type="text/javascript" src="/static/admin/js/core.js"></script>
    <script type="text/javascript" src="/static/admin/js/jquery.js"></script>
    <script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
    <script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
    <script type="text/javascript" src="/static/admin/js/SelectBox.js"></script>
    <script type="text/javascript" src="/static/admin/js/SelectFilter2.js"></script>
    <script type="text/javascript" src="/static/js/ajax_filtered_fields/ajax_filtered_fields.js"></script>

    <script type="text/javascript" src="/static/cabinet/js/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="/static/cabinet/js/jquery-ui.js"></script>
    <script src="/static/js/jquery.magnific-popup.min.js"></script>
    <script type="text/javascript" src="/static/cabinet/js/forms.js"></script>
    <script type="text/javascript" src="/static/js/jsonwidget/jsonlistwidget.js"></script>
    <script type="text/javascript" src="/static/js/jsonwidget/jsondetailslistwidget.js"></script>
    <script type="text/javascript" src="/static/js/jsonwidget/quizwidget.js"></script>
{% endblock %}