{% extends "cabinet/index.jinja" %}
{% block title %}{{ title }}{% endblock %}

{% block sidebar %}
    {{ sidebar()|safe }}
{% endblock %}

{% block mainblock %}
<div class="block projects">
    <div class="header">Активные проекты</div>
    <table class="results">
        <tr>
            <th>id</th>
            <th>название</th>
            <th>начало</th>
            <th>конец</th>
            <th>активен</th>
        </tr>
        {% for project in projects %}
        <tr>
            <td>{{ project.id }}</td>
            <td><a class="item_link" href="/cabinet/projects/edit/{{ project.id }}">{{ project.title }}</a></td>
            <td>{{ project.datestart }}</td>
            <td>{{ project.dateend }}</td>
            <td>{{ project.status }}</td>
        </tr>
        {% endfor %}
    </table>
</div>

<div class="block operators">
    <div class="header">Операторы</div>
    <table class="results">
        <tr>
            <th>id</th>
            <th>имя</th>
            <th>в системе</th>
            <th>в проекте</th>
        </tr>
        {% for operator in operators %}
        <tr>
            <td>{{ operator.id }}</td>
            <td>{{ operator.name }}</td>
            <td>{{ operator.in_system }}</td>
            <td>{{ operator.in_project }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
<script>
    $('.input_date').datepicker();
</script>
{% endblock %}