{% extends "cabinet/index.jinja" %}
{% block title %}Личный кабинет - {{ title }}{% endblock %}
{% block sidebar %}
<menu>
<li><a href="/cabinet/">cabinet</a></li>
</menu>

{% endblock %}
{% block mainbar %}
{% if objects %}
<table class="results_table">
    {% for field in headers %}
    <th>{{ field }}</th>
    {% endfor %}
    {% for object in objects %}
    <tr>
        {% for value in object %}
        <td>{{ value }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
{% endif %}
{% endblock %}