{% extends "cabinet/index.jinja" %}
{% block title %}Личный кабинет - {{ title }}{% endblock %}
{% block sidebar %}
<menu>
<li><a href="/cabinet/">cabinet</a></li>
<li><a href="view/">view</a></li>
</menu>

{% endblock %}
{% block mainbar %}
module
{% endblock %}