{% extends "cabinet/base.jinja" %}

{% block title %}Личный кабинет{% endblock %}

{% block links %}
    <link rel="stylesheet" type="text/css" href="/static/cabinet/css/main.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/magnific-popup.css"/>
    <script src="/static/cabinet/js/jquery-1.11.0.min.js"></script>
    <script src="/static/js/jquery.magnific-popup.min.js"></script>
    <script src="/static/cabinet/js/cabinet.js"></script>
{% endblock %}

{% block main %}
    <div id="header">
        <div class="panel logo left">
            Yellow pages ERP - {{ title }}
        </div>
        <div class="panel right">
            {% if user.has_usable_password %}
                <a href="/cabinet/password_change/">Изменить пароль</a> /
            {% endif %}
            <a href="/cabinet/logout/">Выйти</a>
        </div>
        <div class="panel right">
            Добро пожаловать <b>{{ request.user }}</b>
        </div>
        <div class=""></div>
    </div>
        {% block sidebar %}side{% endblock %}
    </div>

    <div id="mainblock">
        {% block mainblock %}
        {% endblock %}
    </div>
{% endblock %}