{% extends "cabinet/index.jinja" %}
{% block main %}
<div id="login" class="center">
    <h2>Вход в личный кабинет</h2>
    {% if form.errors %}
    <p class="error">Сожалеем, вы неправильно ввели логин или пароль</p>
    {% endif %}
    <form class="login_form" action='.' method='post'>
        {% csrf_token %}
        <label for="id_username">Логин:</label>
        <br>
        <input type="text" name="username" value="" id="id_username">
        <br>
        <label for="id_password">Пароль:</label>
        <br>
        <input type="password" name="password" value="" id="id_password">
        <input class="button" type="submit" value="вход"/>
        <input type="hidden" name="this_is_the_login_form" value="1">
        <input type="hidden" name="next" value="{{ next }}">
    </form>
</div>
<script type="text/javascript">
document.getElementById('id_username').focus()
</script>
</div>
{% endblock %}