{% macro pagination_range(paginator, range) %}
    {% for i in range %}
        {% if i == paginator.number %}
            <span class="current">{{ i }}</span>
        {% else %}
            <a href="?page={{ i }}">{{ i }}</a>
        {% endif %}
    {% endfor %}
{% endmacro %}

{% macro pagination(paginator) %}
    {% if paginator %}
        {% if paginator.paginator.num_pages > 1 %}
            <div class="pagination">
                {% if paginator.has_previous() %}
                    <a href="?page={{ paginator.previous_page_number() }}">&larr;</a>
                {% else %}
                    <span>&larr;</span>
                {% endif %}

                {% if paginator.paginator.num_pages > 10 %}
                    {% set l = paginator.paginator.num_pages %}
                    {% if paginator.number < 5 %}
                        {{ pagination_range(paginator, [1, 2, 3, 4, 5]) }}
                    {% else %}
                        {{ pagination_range(paginator, [1, 2, 3]) }}
                        <span>...</span>
                    {% endif %}

                    {% if paginator.number >= 5 and paginator.number <= l - 4 %}
                        {{ pagination_range(paginator, [paginator.number - 1, paginator.number, paginator.number + 1]) }}
                    {% endif %}

                    {% if paginator.number > l - 4 %}
                        {{ pagination_range(paginator, [l - 4, l - 3, l - 2, l - 1, l]) }}
                    {% else %}
                        <span>...</span>
                        {{ pagination_range(paginator, [l - 2, l - 1, l]) }}
                    {% endif %}
                {% else %}
                    {{ pagination_range(paginator, paginator.paginator.page_range) }}
                {% endif %}

                {% if paginator.has_next() %}
                    <a href="?page={{ paginator.next_page_number() }}">&rarr;</a>
                {% else %}
                    <span>&rarr;</span>
                {% endif %}
            </div>
        {% endif %}
    {% endif %}
{% endmacro %}


{% macro render_field(form, name, hidden) %}
{% set field = form[name] %}
{% if hidden %}
    <div class="field_value {{ field.field.__class__.__name__ }}" style="display: none;">{{ field | safe }}</div>
{% else %}
    <div class="field_wrapper{% if field.errors %} error{% endif %}">
        {{ field.errors | safe }}
        <div class="field_label">{{ field.label_tag() }}</div>
        <div class="field_value {{ field.field.__class__.__name__ }}">{{ field | safe }}</div>
    </div>
{% endif %}
{% endmacro %}


{% macro render_form(title, form, files=False) %}
    {% for field in form %}
        {% if field.errors %}
            {% for input in field %}
            <a href="#{{field.title}}">{{ input.name }}</a>
            {% endfor %}
        {% endif %}
    {% endfor %}
    <form method="post"{% if files %} enctype="multipart/form-data"{% endif %}>
        {% csrf_token %}
        {% if form.fieldsets %}
            {% for set in form.fieldsets %}
                <div class="field_block">
                    {% if set[0] %}<div class="header">{{set[0]}}</div>{% endif %}
                    {% for field in set[1]['fields'] %}
                        {{ render_field(form, field) }}
                    {% endfor %}
                    {% for widget in set[1]['widgets'] %}
                        <div class="field_wrapper">
                            <div class="field_label"><label>{{ widget['label'] }}</label></div>
                            <div class="field_value {{ widget['name'] }}"></div>
                        </div>
                    {% endfor %}
                    {% for adding in set[1]['addings'] %}
                        {% if form[adding['name']].value() %}
                            {{ render_field(form, adding['name']) }}
                        {% else %}
                            <a class="button adding" href="javascript:;">Добавить поле "{{ adding['label'] }}"</a>
                            <script type="bogus" id="multi_{{adding['name'] }}">
                                {{ render_field(form, adding["name"]) }}
                            </script>
                            <script>
                            $('.adding').click(function(){
                                $(this).after($('#multi_{{adding['name'] }}').html());
                                $(this).remove();
                            });
                            </script>
                        {% endif %}
                    {% endfor %}
                    {% for hidden in set[1]['hiddens'] %}
                        {{ render_field(form, hidden, True) }}
                    {% endfor %}
                </div>
            {% endfor %}
        {% else %}
            {% for field in form %}
               {{ render_field(form, field.name) }}
            {% endfor %}
        {% endif %}
        <div class="submit_row">
            <input type="submit" value="Сохранить" class="button">
        </div>
    </form>
{% endmacro %}

{% macro button_delete(id) %}
<a href="delete/{{id}}/">удалить</a>
{% endmacro %}