{% macro menu_node(node) %}
<menu>
    {% for item in node %}
    <li>
        <a href="{{ item['url'] }}">{{ item['title'] }}</a>
        {% if item['submenus'] %}
            {{ menu_node(item['submenus']) }}
        {% endif %}
    </li>
    {% endfor %}
</menu>
{% endmacro %}



{% if cabinet %}
    <div id="sidebar">
        <div class="container">{{ menu_node(cabinet.menu) }}</div>
    </div>
{% endif %}